<div id="footer">
	<a href="javascript:window.open('http://www.ublip.com/privacy?mode=plain', 'pop', 'width=500, height=400, scrollbars=1');void(0);" >Privacy</a> | 
	<a href="javascript:window.open('http://www.ublip.com/terms?mode=plain', 'pop', 'width=500, height=400, scrollbars=1');void(0);" >Terms &amp; Conditions</a> | 
	<a href="/contact" class="link-all2">Contact</a><br /><br />
	&copy; 2008 Ublip, Inc. 
</div>
