<% if request.server_name.index("ubliplocal.com") %>
	<!-- script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAb5FIzoTRib2_GSmlbkQ7mBSSqky6nndM48J7LWYfi11THuhEtxRJbRLHbJNMAlJ5HI0ywIQWp934fQ" type="text/javascript"></script -->
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAzplBnsNCqMKpAckyPT4O6BQGQhNz9AdgUrey35zbC9c0uQ-RNhSga2IWViKGJahR0NTGPOBTl18e3w" type="text/javascript"></script>
<% else %>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAb5FIzoTRib2_GSmlbkQ7mBQdy8buJCn4UCOrVn-gOC82x0BwgBQmZoveMS-zQ1aZv3RjGKOBbmDg9Q" type="text/javascript"></script>
<% end %>
