body {
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	min-width:700px;
}

div#content {
	margin: 10px;
	padding:0 10px 0 10px;
	min-height: 400px;
}

div#header {
	padding: 0;
	margin: 0;
	height: 80px;
	background-color: #0066FF;
	position: relative;
}

/*div#company {
	padding: 10px;
	color: #FFFFFF;
	font-size: 24px;
}*/

#ub-login{ float:right; font-size:10px; color:#FFFFFF; margin-right:20px}
#ub-login a:link {color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:10px;font-weight:normal;text-decoration:underline; }
#ub-login a:visited {color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:10px;font-weight:normal;text-decoration:underline; }
#ub-login a:hover {color:#fff;text-decoration:none;}

div#logo {
	text-align: right;
}

div#footer {
	border-top: 1px solid #cccccc;
	padding: 10px 0 0 0;
	margin: 20px;
	text-align: center;	
	color: #666666;
	font-size: 10px;
	clear:both;
}

div#subnav {
	background-color: #EEEEEE;
	padding: 7px 20px;
}

#nav_tabs {
	background-color: #0066FF;
	padding: 0 15px;
	position: absolute;
	bottom: 0px;
}

#nav_tabs ul {
	padding: 0;
	margin: 0;
}

/*#nav_tabs li {
	float: left;
	list-style-type: none;
	display: inline;
	background-color: #003366;
	padding: 4px 0; /* 1px less padding for IE */
	margin: 0 1px;
}*/

#nav_tabs a {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	padding: 5px 10px;
}

#nav_tabs a:hover {
	background-color: #FFFFFF;
    color: #003366;
    padding: 5px 10px;
}

#nav_tabs .selected a {
	font-weight: bold;
	color: #0066CC;
	background-color: #FFFFFF;
	padding: 5px 10px;
}

#nav_tabs .selected a:hover {
	font-weight: bold;
	color: #0066CC;
}

#nav_tabs .selected_subnav a {
	font-weight: bold;
	color: #0066CC;
	background-color: #EEEEEE;
	padding: 5px 10px;
}

#nav_tabs .selected_subnav a:hover {
	color: #0066CC;
	background-color: #EEEEEE;
}


#device_list ul {
	padding: 0;
	margin: 0;
}

#device_list li {
	list-style-type: none;
	background-color: #EEEEEE;
	padding: 7px;
	margin: 5px;
	color: #666666;
}

#device_list a {
	color: #333333;
}

div#title {
	margin: 10px 10px 0 10px;
	padding: 5px;
	background-color: #7CA8D3;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
}

div#main_container {
	background-color: #EEEEEE;
	margin: 0 10px 10px 10px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

#device_list_old {
	margin: 10px;
	padding: 0;
	list-style-type: none;	
	float: left;
}

#device_list_old a {
	display: block;
	padding: 3px;
	width: 160px;
	background-color: #369;
	border-bottom: 1px solid #eee;
	text-decoration: none;
	color: #FFFFFF;
}

#device_list_old .no_data {
	display: block;
	background-color: #CCCCCC;
	padding: 3px;
	border-bottom: 1px solid #eee;
}

#device_list_old a:link, #navlist a:visited {
	text-decoration: none;
}

#device_list_old a:hover {
	background-color: #036;
}

div#map {
	width: 500px;
	height: 500px;
	float: left;
}

div#success_message {
	border: 2px solid #006600;
	background-color: #5ABD5A;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 5px;
	margin: 10px 5px;
}

div#error_message {
	border: 2px solid #990000;
	background-color: #FF6262;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 5px;
	margin-bottom: 10px;
}

div#updating {
	float: right;
	background-color: #FFFF00;
	padding: 0 3px;
	color: #333333;
}

.form_table {
	padding: 5px;
}

/*.form_table th {
	color: #666666;
	text-align: right;
}*/

.form_table td {
	padding: 5px;
}

.form_table td > input[type="text"], input[type="password"] {
	width: 200px;
}

.panel_table {
	width: 100%;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
}

.panel_table th {
	background-color: #CCCCCC;
	color: #003366;
	padding: 5px;
	border: 1px solid #FFFFFF;
}

.panel_table td {
	padding: 5px;
	border: 1px solid #FFFFFF;
}

.panel_table .header {
	background-color: #6699CC;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 5px;
}
.header_{
    background-color: #6699CC;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 5px;
	width:55%;}

.light_row {
	background-color: #FFFFFF;
}

.dark_row {
	background-color: #EEEEEE;
}

.selected_row {
	background-color: #FFFFCC;
}

hr {
	color: #CCCCCC;
	background-color: #CCCCCC;
	border: 0;
	height: 1px;
}

.helper {
	font-size: 11px;
	font-weight: bold;
	color: #666666;
}

.settings_box {
	padding: 10px;
	color: #666666;
	width: 98%;
	border-bottom: 1px solid #CCCCCC;
}

.settings_notification {
	padding-top: 10px;
	color: #666666;
	width: 98%;
	
}

.settings_notification div {
	padding-top:6px;
	
}

.settings_box h2{font-size: 14px; font-weight: bold; padding:0px; margin:0px}
.gray_box {
	padding: 10px;
	background-color: #eeeeee;
	width: 97%;
	margin-left:25px;
	margin-top:10px;
	
}
.gray_box div {
	padding-top:3px;
	
}

div#side_tb_box{
	width:55%; float:left; margin-top:5px;
}

div#paging {
	margin: 20px 0;
	text-align: center;
	font-size: 14px;
}

.current_page_link {
	color: #FFFFFF;
	background-color: #003366;
	padding: 3px;
}

.group_head_{
    background-color: #6699CC;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 5px;
	width:;}

panel_table .group_head {
	background-color: #6699CC;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 5px;
}
.group_head {
width:98%;
background-color:#cccccc;
float:left;
padding:0px;
height:24px;
line-height:24px;
}

.group_head div {
float:left;
margin-right:25px;
width
}

span.group_1 {
background:url(/icons/blue_small.png) no-repeat left;
width:;
height:24px;
display:block;
margin-bottom:0px;
padding-left:30px;
font-weight:bold;
}

/*.link-all1{ color:#1364B2; font-family:Arial, Helvetica, sans-serif; font-size:12px;font-weight:normal;text-decoration:underline;}
.link-active{ color:#1364B2; text-decoration:none;font-weight:bold;}
.link-all1:hover{ color:#1364B2;text-decoration:none;}
.link-all1:active{ color:#1364B2;text-decoration:none;}*/
.alert{width:98%;color:#336633;border:1px #99cc99 solid; text-align:center; background-color:#E5F1F4;margin-top:10px;padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px;font-size:10pt;}

/* Pagination Class */

.ublip-pagination {font-size:14px; font-family: Arial; text-align:center;padding:10px 0} /*changed from 9*/
.ublip-pagination A { PADDING-LEFT: 0.2em;  PADDING-BOTTOM: 0.1em; MARGIN-RIGHT: 0.1em; PADDING-TOP: 0.1em;  TEXT-DECORATION: none; color:#003399;}
.ublip-pagination A:hover {color:#003399; text-decoration:underline;}
.ublip-pagination SPAN.current { PADDING-RIGHT: 0.5em;   PADDING-LEFT: 0.5em;  PADDING-BOTTOM: 0.1em; MARGIN-RIGHT: 0.1em; PADDING-TOP: 0.1em;  FONT-WEIGHT: bold;  COLOR: #333;}*/

div#result_count {
	font-weight: bold;
	text-align: center;
	color: #333333;
}
