div#login_form_container {
	padding: 10px;
	border: 6px solid #7BB13D;
	background-color: #EEEEEE;
}

div#header {
	padding: 0;
	margin: 0;
	height: 80px;
	background-color: #008FDE;
	position: relative;
}

#nav_tabs {
	background-color: #008FDE;
	position: absolute;
	width: 100%;
	bottom: 0px;}

#nav_tabs ul {
	padding: 0;
	margin: 0;}

#nav_tabs li {
	float:left;
	list-style-type: none;
	display: inline;
	background-color: #FE5D15;
	padding: 4px 0; /* 1px less padding for IE */
	margin: 0 1px;
}

#nav_tabs a {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	padding: 5px 10px;}

#nav_tabs a:hover {
	background-color: #FFFFFF;
    color: #008FDE;
    padding: 5px 10px;}

#nav_tabs .selected a {
	font-weight: bold;
	color: #008FDE;
	background-color: #FFFFFF;
	padding: 5px 10px;}

#nav_tabs .selected a:hover {
	font-weight: bold;
	color: #008FDE;}

#nav_tabs .selected_subnav a {
	font-weight: bold;
	color: #008FDE;
	background-color: #EEEEEE;
	padding: 5px 10px;}

#nav_tabs .selected_subnav a:hover {
	color: #008FDE;
	background-color: #EEEEEE;}
	
.panel_table .header {
		background-color: #7BB13D;
		color: #FFFFFF;
		font-size: 12px;
		font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
		padding: 5px;
}

#ub-table tr.header{ 
	background-color: #7BB13D;  
	color:#ffffff; 
	font-weight:normal; 
	font-size:12px; 
	font-family:Verdana, Arial, Helvetica, sans-serif}
	
.bg_overview{
	background-color:#DEEBCE;
	width:100%
}