<h3>Create New Account</h3>

<%= render :partial=>"/layouts/flash_message"%>    

<form method="post" class="form" action="/admin/accounts/create">
	<%= render :partial => "account_form" %>
</form>

<script language="javascript" type="text/javascript">
	window.onload = function() {
		document.getElementById("name").focus();
	}
</script>

