<h3>Create New Account</h3>

<% if flash[:error] %>
	<div id="error_message">
		<%= flash[:error] %>
	</div>
<% end %>

<form method="post" class="form" action="/admin/accounts/create">
	<%= render :partial => "account_form" %>
</form>

<script language="javascript" type="text/javascript">
	window.onload = function() {
		document.getElementById("name").focus();
	}
</script>

