<h3>Viewing Account</h3>

<form method="post" class="form" action="/admin/accounts/update">
	<%= render :partial => "account_form" %>
</form>

<script language="javascript" type="text/javascript">
	window.onload = function() {
		document.getElementById("subdomain").focus();
	}
</script>