
Groups are a great way to keep your device organized . Create a group and devices to it.<br>
Assign a unique icon for each of your groups. on the overview screen your devices will display in <br>
groups with the icond you selected.
<br>
<br>
<br>
<br>
<%= link_to 'Create your first group',:controller=>'devices',:action=>'new_group'%>