Application {
	borderStyle: "outset";
}

Panel {
   borderThicknessLeft: 0;
   borderThicknessTop: 0;
   borderThicknessBottom: 0;
   borderThicknessRight: 0;
   cornerRadius: 0;
   headerHeight: 20;
   highlightAlphas: 0.49, 0.08;
   headerColors: #003366, #000033;
   dropShadowEnabled: false;
   titleStyleName: "panelText";
}

.panelText {
   color: #ffffff;
   fontFamily: Arial;
   fontSize: 10;
}

VDividedBox {
   verticalGap: 3;
}

HDividedBox {
	horizontalGap: 3;
}

.header {
	backgroundColor: #4E586B;
	borderSides: bottom;
	borderStyle: solid;
	borderColor: #333333;
	color: #FFFFFF;
}

TextInput {
	color: #666666;	
}

List {
	borderThickness: 0;
	selectionColor: #0066cc;
	textSelectedColor: #ffffff;
}

DataGrid {
	selectionColor: #0066cc;
	textSelectedColor: #ffffff;
	headerColors: #FFFFFF, #CCCCCC;
	headerStyleName: "gridHeaderStyle";
}

.gridHeaderStyle {
   color: #333333;
   fontWeight: bold;
   fontSize: 10;
}