Dear <%=@name%>,

Thank you for ordering from Ublip and we're looking forward to providing you with the best service possible.

URL: http://<%=@subdomain%>.ublip.com
Email: <%=@email%>
Password: <%=@password%>

All the best,
The Ublip Team