<h3>Admin Overview</h3>
  
<ul class="list">
	<li><%= @total_accounts %> active <strong>Accounts</strong> - <a href="/admin/accounts">view</a> or <a href="/admin/accounts/new">create</a></li>
	<li><%= @total_users %> active <strong>Users</strong> - <a href="/admin/users">view</a> or <a href="/admin/users/new">create</a></li>
	<li><%= @total_devices %> active <strong>Devices</strong> - <a href="/admin/devices">view</a> or <a href="/admin/devices/new">create</a></li>
</ul>