<h3>Admin Overview</h3>
  
<ul class="list">
	<li><%= @total_accounts %> active accounts - <a href="/admin/accounts">view</a> or <a href="/admin/accounts/new">create</a></li>
	<li><%= @total_devices %> active devices - <a href="/admin/devices">view</a> or <a href="/admin/devices/new">create</a></li>
</ul>