body {
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

div#content {
	margin: 10px;
}

div#header {
	padding: 0;
	margin: 0;
	height: 75px;
	background-color: #0066FF;
}

div#logo {
	text-align: right;
}

div#nav {
	padding: 0;
	margin: 0;
	border: 1px solid #FF0000;
	color: #FFFFFF;
	/* User customizable for tabs on left or right */
	text-align: left;
	vertical-align: bottom;
}

#nav_tabs ul {
	background-color: #000000;
	line-height: 100px;
}

#nav_tabs li {
	list-style-type: none;
	display: inline;
	background-color: #003366;
	padding: 6px;
}

#nav_tabs a {
	color: #FFFFFF;
	text-decoration: none;
}

#nav_tabs a:hover {
	background-color: #FF0000;
}

div#title {
	margin: 10px 10px 0 10px;
	padding: 5px;
	background-color: #7CA8D3;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
}

div#main_container {
	background-color: #EEEEEE;
	margin: 0 10px 10px 10px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

#device_list {
	margin: 10px;
	padding: 0;
	list-style-type: none;	
	float: left;
}

#device_list a {
	display: block;
	padding: 3px;
	width: 160px;
	background-color: #369;
	border-bottom: 1px solid #eee;
	text-decoration: none;
	color: #FFFFFF;
}

#device_list .no_data {
	display: block;
	background-color: #CCCCCC;
	padding: 3px;
	border-bottom: 1px solid #eee;
}

#device_list a:link, #navlist a:visited {
	text-decoration: none;
}

#device_list a:hover {
	background-color: #036;
}

div#map {
	width: 500px;
	height: 500px;
	float: left;
}

div#success_message {
	border: 2px solid #006600;
	background-color: #5ABD5A;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 5px;
}

div#error_message {
	border: 2px solid #990000;
	background-color: #FF6262;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 5px;
}

.form_table {
	padding: 5px;
}

.form_table th {
	text-align: right;
}

.form_table td {
	padding: 5px;
}

.panel_table {
	padding: 0;
	margin: 0;
	border-collapse: collapse;
}

.panel_table th {
	background-color: #999999;
	padding: 3px;
	border: 1px solid #FFFFFF;
}

.panel_table td {
	padding: 3px;
	border: 1px solid #FFFFFF;
}

.panel_table .header {
	background-color: #849DB3;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 5px;
}

.light_row {
	background-color: #EEEEEE;
}

.dark_row {
	background-color: #CCCCCC;
}

.selected_row {
	background-color: #0066FF;
	color: #FFFFFF;
}

.selected_row a {
	color: #FFFFFF;
}