body {
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

div#content {
	margin: 10px;
	min-height: 400px;
}

div#header {
	padding: 0;
	margin: 0;
	min-height: 80px;
	background-color: #0066FF;
	position: relative;
}

div#company {
	padding: 10px;
	color: #FFFFFF;
	font-size: 24px;
}

div#logo {
	text-align: right;
}

div#footer {
	border-top: 1px solid #cccccc;
	padding: 10px 0 0 0;
	margin: 20px;
	text-align: center;	
	color: #666666;
	font-size: 10px;
}

#nav_tabs {
	background-color: #0066FF;
	padding: 0 15px;
	position: absolute;
	bottom: 0px;
}

#nav_tabs ul {
	padding: 0;
	margin: 0;
}

#nav_tabs li {
	float: left;
	list-style-type: none;
	display: inline;
	background-color: #003366;
	padding: 5px 0;
	margin: 0 1px;
}

#nav_tabs a {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	padding: 5px 10px;
}

#nav_tabs a:hover {
	background-color: #FFFFFF;
    color: #003366;
    padding: 5px 10px;
}

#nav_tabs .selected a {
	font-weight: bold;
	color: #0066CC;
	background-color: #FFFFFF;
	padding: 5px 10px;
}

#nav_tabs .selected_subnav a {
	font-weight: bold;
	color: #0066CC;
	background-color: #EEEEEE;
	padding: 5px 10px;
}

div#title {
	margin: 10px 10px 0 10px;
	padding: 5px;
	background-color: #7CA8D3;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
}

div#main_container {
	background-color: #EEEEEE;
	margin: 0 10px 10px 10px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

#device_list {
	margin: 10px;
	padding: 0;
	list-style-type: none;	
	float: left;
}

#device_list a {
	display: block;
	padding: 3px;
	width: 160px;
	background-color: #369;
	border-bottom: 1px solid #eee;
	text-decoration: none;
	color: #FFFFFF;
}

#device_list .no_data {
	display: block;
	background-color: #CCCCCC;
	padding: 3px;
	border-bottom: 1px solid #eee;
}

#device_list a:link, #navlist a:visited {
	text-decoration: none;
}

#device_list a:hover {
	background-color: #036;
}

div#map {
	width: 500px;
	height: 500px;
	float: left;
}

div#success_message {
	border: 2px solid #006600;
	background-color: #5ABD5A;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 5px;
}

div#error_message {
	border: 2px solid #990000;
	background-color: #FF6262;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 5px;
}

.form_table {
	padding: 5px;
}

.form_table th {
	text-align: right;
}

.form_table td {
	padding: 5px;
}

.panel_table {
	width: 100%;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
}

.panel_table th {
	background-color: #CCCCCC;
	color: #003366;
	padding: 5px;
	border: 1px solid #FFFFFF;
}

.panel_table td {
	padding: 5px;
	border: 1px solid #FFFFFF;
}

.panel_table .header {
	background-color: #6699CC;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 5px;
}

.light_row {
	background-color: #FFFFFF;
}

.dark_row {
	background-color: #EEEEEE;
}

.selected_row {
	background-color: #FFFFCC;
}

hr {
	color: #CCCCCC;
	background-color: #CCCCCC;
	border: 0;
	height: 1px;
}