body {
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	min-width:700px;}
	

#nav_tabs {
	background-color: #0066FF;
	position: absolute;
	width: 100%;
	bottom: 0px;}

#nav_tabs ul {
	padding: 0;
	margin: 0;}

#nav_tabs li {
	float:left;
	list-style-type: none;
	display: inline;
	background-color: #003366;
	padding: 4px 0; /* 1px less padding for IE */
	margin: 0 1px;
}

#nav_tabs a {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	padding: 5px 10px;}

#nav_tabs a:hover {
	background-color: #FFFFFF;
    color: #003366;
    padding: 5px 10px;}

#nav_tabs .selected a {
	font-weight: bold;
	color: #0066CC;
	background-color: #FFFFFF;
	padding: 5px 10px;}

#nav_tabs .selected a:hover {
	font-weight: bold;
	color: #0066CC;}

#nav_tabs .selected_subnav a {
	font-weight: bold;
	color: #0066CC;
	background-color: #EEEEEE;
	padding: 5px 10px;}

#nav_tabs .selected_subnav a:hover {
	color: #0066CC;
	background-color: #EEEEEE;}

/*tabs CSS  End*/	

/*header CSS */

div#header {
	padding: 0;
	margin: 0;
	height: 80px;
	background-color: #0066FF;
	position: relative;}

div#logo {
	text-align: right;}

div#header #logo {
	float: left;}	

div#header_login {
	margin: 0 auto;
	width: 900px;
	margin-top: 30px;
	vertical-align: middle;}

div#header_login #logo {
	float: left;}

.header_{
    background-color: #6699CC;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 5px;
	width:55%;}
	
/*header CSS End*/	

/*submenu CSS*/	

#submenu{
	color:#999999; 
	background-color:#eaeaea; 
	padding:7px 2%}
#submenu .current{
	color:#1364B2; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px;
	font-weight:bold;
	text-decoration:none;}

/*submenu CSS End*/	

/*link CSS */

a:link {
	color:#1364B2; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px;
	font-weight:normal;
	text-decoration:underline; }
a:visited {
	color:#1364B2; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px;
	font-weight:normal;
	text-decoration:underline;}
a:hover {
	color:#1364B2;
	text-decoration:none;}
/*link CSS end*/

/*form CSS */

.form td {
	height: 40px;
	text-align: right;}

div#login_form_container {
	padding: 10px;
	border: 6px solid #336699;
	background-color: #DEE8F3;}

div#login_form_container {
	line-height: 30px;}

.form_table {
	padding: 5px;}


.form_table th {
	font-size: 13px;
	text-align: right;
	color:#666666}

.form_table td {
	padding: 5px;}

.form_table input {
	font-weight: bold;
	color: #006699;}
	
.bold_button {
	font-weight: bold;
	color: #006699;
}

.form_table td > input[type="text"], input[type="password"] {
	width: 200px;
	padding:2px;}

input[type="text"], input[type="password"]{
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	border-left: 1px solid #CCCCCC;
	padding:2px;}

.label {
	text-align: right;
	padding-right: 10px;
	font-size: 12px;}
	
.input { width:162px;
	height:20px;}	
/*form CSS End */

/*map CSS */

div#map {
	width: 100%;
	height: 500px;
	float: left;}

.googlemap{
	width: 99%;
	margin:0.50%;
	height:380px }

.main_map{
	width: 73.735%; 
	float:right;
	background-color:#eeeeee;
	margin-bottom:15px }

.reports_map{
	width:50%; 
	float:right;
	border:4px #eeeeee solid;
	}

.report_map_header{
	width:99.7%; 
	float: left; 
	background-color:#6699CC;
	color:#FFFFFF;
	font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size:12px;
	padding:5px;	
   }
/*map CSS End*/

/*Container CSS*/

div#company {
	padding: 10px;
	color: #FFFFFF;
	font-size: 24px;
	float:left}

div {
	margin: 0 auto;}

#ub-login{ 
	margin-top: 5px;
	float:right; 
	font-size:10px; 
	color:#FFFFFF;
}

#ub-login a:link {
	color:#fff; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:10px;
	font-weight:normal;
	text-decoration:underline; }

#ub-login a:visited {
	color:#fff; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:10px;
	font-weight:normal;
	text-decoration:underline; }

#ub-login a:hover {
	color:#fff;
	text-decoration:none;}

div#sub_banner {
	margin-top: 10px;
	height: 80px;
	border-top: 1px solid #A1B4D5;
	border-bottom: 1px solid #A1B4D5;
	background-color: #E8F1FF;
	text-align: center;
	padding-top: 10px;
	color: #333333;}

div#subnav {
	background-color: #EEEEEE;
	padding: 7px 20px;}

#device_list ul {
	padding: 0;
	margin: 0;}

#device_list li {
	list-style-type: none;
	background-color: #EEEEEE;
	padding: 7px;
	margin: 5px;
	color: #666666;}

#device_list a {
	color: #333333;}

div#title {
	margin: 10px 10px 0 10px;
	padding: 5px;
	background-color: #7CA8D3;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;}

div#main_container {
	background-color: #EEEEEE;
	margin: 0 10px 10px 10px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;}

#device_list_old {
	margin: 10px;
	padding: 0;
	list-style-type: none;	
	float: left;}

#device_list_old a {
	display: block;
	padding: 3px;
	width: 160px;
	background-color: #369;
	border-bottom: 1px solid #eee;
	text-decoration: none;
	color: #FFFFFF;}

#device_list_old .no_data {
	display: block;
	background-color: #CCCCCC;
	padding: 3px;
	border-bottom: 1px solid #eee;}

#device_list_old a:link, #navlist a:visited {
	text-decoration: none;}

#device_list_old a:hover {
	background-color: #036;}

div#updating {
	float: right;
	background-color: #FFFF00;
	padding: 0 3px;
	color:#333}
	
div#side_tb_box{
	width:55%; 
	float:left; 
	margin-top:5px;}

div#paging {
	margin: 20px 0;
	text-align: center;
	font-size: 14px;}

.list {
	list-style: none;
	padding: 0;
	margin-top: 10px;
	margin-left: 0px;}
.list li {
	background-color: #EEEEEE;	
	color: #333333;
	margin-bottom: 10px;
	border-bottom: 1px dotted #CCCCCC;
	padding: 10px;}

.table {
	color: #333333;}

.table th {
	background-color: #003366;
	padding: 3px;
	color: #FFFFFF;
	font-weight: normal;}

.table td {
	padding: 5px;}

.disabled {
	font-size: 16px;
	border: none;}

.faded_red {
	background-color: #B34141;
	color: #FFFFFF;}
	
.small_font {
	font-size: 10px;
	color: #1364B2;}	

.light_row {
	background-color: #FFFFFF;}

.dark_row {
	background-color: #EEEEEE;}

.selected_row {
	background-color: #FFFFCC;}
	
.bgcolor {	
    background-color:#c5f794;}
	
.contact_us{	
	margin-left: 0px; 
	color: #666666; 
	width: 500px;}
	
hr {
	color: #CCCCCC;
	background-color: #CCCCCC;
	border: 0;
	height: 1px;}

.helper {
	font-size: 11px;
	font-weight: bold;
	color: #666666;}

.settings_box {
	padding: 10px;
	color: #666666;
	width: 98%;
	border-bottom: 1px solid #CCCCCC;}

.settings_notification {
	padding-top: 10px;
	color: #666666;
	width: 98%;}

.settings_notification div {
	padding-top:6px;}
	
.settings_box h2{
	font-size: 14px; 
	font-weight: bold;
	padding:0px; 
	margin:0px;
	color: #666666;}
	
.gray_box {
	padding: 10px;
	background-color: #eeeeee;
	width: 97%;
	margin-left:25px;
	margin-top:10px;}
	
.text_width	{
   width: 100%;}
   
.gray_small{	
	font-size: 11px; 
	color: #666666}
	
.red_text{
    color:#cc0000; 
	margin-left:3px; 
	font-weight:normal;}

.gray_box div {
	padding-top:3px;}

.current_page_link {
	color: #FFFFFF;
	background-color: #003366;
	padding: 3px;}

.group_head_{
    background-color: #6699CC;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 5px;
	width:;}

panel_table .group_head {
	background-color: #6699CC;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 5px;}
	
.group_head {
	width:98%;
	background-color:#cccccc;
	float:left;
	padding:0px;
	height:24px;
	line-height:24px;}

.group_head div {
	float:left;
	margin-right:25px;}

span.group_1 {
	background:url(/icons/blue_small.png) no-repeat left;
	width:;
	height:24px;
	display:block;
	margin-bottom:0px;
	padding-left:30px;
	font-weight:bold;}

div#result_count {
	font-weight: bold;
	text-align: center;
	color: #333333;}

.blue_bold {
	font-size: 14px;
	font-weight: bold;
	color: #003366;}

.device_summery{
	 float:left;
	 clear:left;
	 width:50%; 
	 padding-top:3px;}

.device_summery_select{
	float:right; 
	margin-right:1px;
	padding:1px;}

.group_name{
	height:24px;
	line-height:24px;
	display:block;
	margin-bottom:0px;
	padding-left:30px;
	font-weight:bold;
	float:left;
	clear:left;
	width:99%;}
	
.dark_grey {
	color: #666666;}

.grp_3 p {
	margin-bottom:10px;}

.grp_3 h3{
	border-bottom:1px solid #F1F1F1;
	font-size: 14px;
	color: #333333;
	margin: 15px 0px 10px 0px;
	font-weight:bold;}

.sel_dev1 {
	clear:both;
	margin-top:10px;}

.sel_dev1 ul{
	 line-height:1.7em;}

.sel_dev1 li {
	background:#f1f1f1;
	color:#666;
	display:block;
	font-weight:700;
	margin-top:4px;
	padding:5px 10px 5px 10px;}


.sel_dev1 h3{font-size: 14px;
	color: #333333;
	margin: 15px 0px 10px 0px;
	font-weight:bold;
	margin-bottom:2px;
	line-height:18px;}
	

.group-link-red{ 
	color:#ff0000;}
	
.bg_overview{
	background-color:#d2eafc;
	width:100%}
	
.gray_text{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #666666;}


div#content {
	margin: 10px;
	padding:0 10px 0 10px;
	min-height: 400px;}

div#content_login {
	margin: 0 auto;
	width: 850px;
	clear: both;}

div#content_login h1{
color:#666666;
font-family:Arial,Helvetica,sans-serif;
font-size:30px;
margin-bottom: 15px;}

#new{
	margin-bottom: 10px; 
	padding: 15px; 
	background-color: #FFFFCC; 
	font-weight: bold; 
	color: #333333;}
	
.processing_message {
	text-align: right;
	background-color: #FFFFCC;
	font-size: 16px;
	font-weight: bold;
	visibility: hidden;
	padding: 10px;}

.container{
	width:100%; 
	clear:both;}

h3 {
	font-size: 18px;
	color: #003366;}

h4 {
	color: #666666;}

.dark_blue_header {
	font-size: 16px;
	font-weight: bold;
	color: #003366;}

.dark_gray_header {
	font-size: 16px;
	color: #333333;}

.ub_dev_list{
	float:left;
	clear:left;
	width:50%; 
	padding-top:3px}

.panel_table {
	width: 100%;
	padding: 0;
	margin: 0;
	border-collapse: collapse;}

.panel_table th {
	background-color: #CCCCCC;
	color: #003366;
	padding: 5px;
	border: 1px solid #FFFFFF;}

.panel_table td {
	padding: 5px;
	border: 1px solid #FFFFFF;}


.panel_table .header {
	background-color: #6699CC;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 5px;}

.panel_table .bluebar1{ 
	background: url(../images/red_small.png) no-repeat left; 
	line-height:24px;
	padding-left:25px;
	font-weight:bold;
	width:99%;
	background-color:#d2eafc;}
	
.panel_table .bluebar{ 
	background: url(../images/purple_small.png) no-repeat left;
	line-height:24px; 
	padding-left:25px;
	font-weight:bold;
	width:100%;
	background-color:#d2eafc;}

.panel_table .darkgray_row{
	background-color: #EEEEEE;}

#ub-table{
	border-collapse:collapse;
	margin:0pt;
	padding:0pt;
	width:100%;}
#ub-table th {
	background-color:#6699CC;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	padding: 5px;}
#ub-table tr.header{ 
	background-color:#6699cc;  
	color:#ffffff; 
	font-weight:normal; 
	font-size:12px; 
	font-family:Verdana, Arial, Helvetica, sans-serif}

#ub-table tr.gray_row{
	background-color:#eeeeee;}

#ub-table td {
	border: 1px solid #FFFFFF;
	padding: 5px;}

#ub-table a:link {
	color:#1364B2; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px;
	font-weight:normal;
	text-decoration:none; }
#ub-table a:visited {
	color:#1364B2; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px;
	font-weight:normal;
	text-decoration:none;}
#ub-table a:hover {
	color:#1364B2;
	text-decoration: underline;}

.short_text {
	width: 150px;}

.long_text {
	width: 200px;}

.description_box {
	font-size: 12px;
	margin-bottom: 15px;
	background-color: #EEEEEE;
	padding: 10px;}

.error_select {
	border: 2px solid #EA9797;}

.error_short {
	background-color: #F2C0C0;
	width: 150px;}

.error_long {
	background-color: #F2C0C0;
	width: 200px;}

.error_box {
	font-weight: bold;
	background-color: #F2C0C0;
	padding: 10px;
	margin-bottom: 10px;}

.paypal_error {
	width: 800px;
	font-weight: bold;
	background-color: #F2C0C0;
	padding: 10px;
	margin-top: 10px}

@charset utf-8;

h1,h2,h3,h4,h5,p,ul {
	list-style:none;
	margin:0;
	padding:0;}

h2 {
	font-size:18px;
	margin-bottom:10px;
	color:#036;}

.clear {
	clear:both;}

.valign {
	vertical-align:middle;}

#links {
	background:#f1f1f1;
	height:30px;}

.crt_group {
	background:#FFC;
	font-weight:700;
	font-size:16px;
	margin:10px 0;
	padding:10px;}

.crt_group1 {
	background:#eeeeee;
	font-weight:700;
	font-size:16px;
	margin:10px 0;
	padding:10px;}

.sel_icon {
	width:98%;
	background:#f2f2f2;
	float:left;
	padding:15px;}

.sel_icon li {
	float:left;
	margin-right:25px;}

span.rad_1 {
	background:url(/icons/blue_small.png) no-repeat top; 
	width:16px;
	height:24px;
	display:block;
	margin-bottom:8px;}

span.rad_2 {
	background:url(/icons/red_small.png) no-repeat top;
	width:16px;
	height:24px;
	display:block;
	margin-bottom:8px;}

span.rad_3 {
	background:url(/icons/green_small.png) no-repeat top;
	width:16px;
	height:24px;
	display:block;
	margin-bottom:8px;}

span.rad_4 {
	background:url(/icons/yellow_small.png) no-repeat top;
	width:16px;
	height:24px;
	display:block;
	margin-bottom:8px;}

span.rad_5 {
	background:url(/icons/purple_small.png) no-repeat top;
	width:16px;
	height:24px;
	display:block;
	margin-bottom:8px;}

span.rad_6 {
	background:url(/icons/dark_blue_small.png) no-repeat top;
	width:16px;
	height:24px;
	display:block;
	margin-bottom:8px;}

span.rad_7 {
	background:url(/icons/grey_small.png) no-repeat top;
	width:16px;
	height:24px;
	display:block;
	margin-bottom:8px;}

span.rad_8 {
	background:url(/icons/orange_small.png) no-repeat top;
	width:16px;
	height:24px;
	display:block;
	margin-bottom:8px;}

.sel_dev {
	clear:both;
	margin-top:10px;}

.sel_dev li {
	background:#f1f1f1;
	color:#666;
	display:block;
	font-weight:700;
	margin-top:4px;
	padding:10px;	}

table.grp_4 {
	border-collapse:collapse;
	width:50%;
	clear:both;}

th.grp_4 {
	background:#ccc;
	color:#036;
	border:1px solid #FFF;
	padding:8px;}

td.grp_clr {
	background:#f1f1f1;
	color:#333;
	border:1px solid #FFF;
	padding:8px;}

td.grp_no_clr {
	background:#fff;
	color:#333;
	border:1px solid #FFF;
	padding:8px;}

td.bl_title {
	color:#333;
	background:#cce6ff;
	font-weight:700;
	padding:8px;}

.grp_title {
	background:#69c;
	width:48.5%;
	color:#FFF;
	font-size:14px;
	float:left;
	padding:8px;}

.grp_title p {
	float:left;}

.grp_title select {
	float:right;}

.traf_ovl {
	background:#f1f1f1;
	border:1px solid #ccc;
	color:#666;
	width:48%;
	padding:8px;}

.right_view_geofence{
	float:left; 
	width:24%;}

#border{
	border:1px solid #1364b2; 
	width:100%; 
	padding-right:2px}

div#error_message {
	border: 1px solid #990000;
	color: #FFFFFF;
	background-color: #FF6262;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0;
	padding: 5px;}

div#success_message {
	border: 1px solid #006600;
	background-color: #5ABD5A;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 5px;
	margin: 10px 0;}

#ub_account_tbl{
	width:23%; 
	padding:0px; 
	padding-bottom:0px;
	margin-bottom:10px;
	float:left; 
	clear:left; 
	margin-right:2%}

#ub_account_tbl div {
	padding-bottom:10px;}

#ub_account_tbl h3 {
	font-size: 18px;
	color: #003366; 
	padding-top:5px;
	margin-bottom:5px; 
	padding-bottom:0px; 
	width:90%; }
	
#dark_topbar{
	width:97%; 
	padding:4px 1% 4px 1%;
	background-color:#cccccc; 
	line-height:19px;
	color:#003366; 
	padding-left:6px;}
	
#light-greybar{
	width:97%;  
	padding:4px 1% 4px 1%;
	background-color:#f8f8f8; 
	line-height:19px;
	padding-left:6px;}
	
.ub-ajax{ 
	color:#1364B2; 
	cursor:pointer}

#ub-ajax_butt{
	width:99%;
	padding:6px .25% 7px .8%;
	padding-left:5px;}
	
#float_rt{ 
	float:right;}

#tab_lt{ 
	float:left;}

#tab_rt{
	float:right;}

#top_head{
	width:100%; 
	overflow:hidden; 
	padding-top:5px; 
	margin-bottom:10px;}
	
#top_head h3 {
	font-size: 18px;
	color: #003366; 
	padding:0px; 
	margin:0px; 
	width:70%; 
	float:left}

.alert{
	width:98%;
	color:#336633;
	border:1px #99cc99 solid; 
	text-align:center; 
	background-color:#E5F1F4;
	margin-top:10px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	font-size:10pt;}

.paddin-l{
	padding-left:75%;}

#helper { 
	padding: 0 0 10px; }

.ublip-pagination {
	font-size:14px; 
	font-family: Arial; 
	text-align:center;
	padding:10px 0}

.ublip-pagination A { 
	PADDING-LEFT: 0.2em;  
	PADDING-BOTTOM: 0.1em; 
	MARGIN-RIGHT: 0.1em; 
	PADDING-TOP: 0.1em;  
	TEXT-DECORATION: none; 
	color:#003399;}

.ublip-pagination A:hover {
	color:#003399; 
	text-decoration:underline;}
	
.ublip-pagination SPAN.current { 
	PADDING-RIGHT: 0.5em;   
	PADDING-LEFT: 0.5em;  
	PADDING-BOTTOM: 0.1em; 
	MARGIN-RIGHT: 0.1em; 
	PADDING-TOP: 0.1em;  
	FONT-WEIGHT: bold;  
	COLOR: #333;}
	
/*Container CSS End*/	

/*footer CSS */	

div#footer {
	border-top: 1px solid #cccccc;
	padding: 10px 0 0 0;
	margin: 20px;
	text-align: center;	
	color: #666666;
	font-size: 10px;
	clear:both;}
	
/*footer CSS End*/

.title {
	font-size: 18px;
	font-weight: bold;
	color: #003366;
}

div#configuration_header {
	margin-top: 15px;
	padding: 10px;
	background-color: #6699CC;
	color: #FFFFFF;
}

div#configuration_form {
	padding: 15px;
	background-color: #D8EBF6;
	
}

div#configuration_form .row {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dotted #CCCCCC;
}

div#configuration_submit {
	background-color: #EEEEEE;
	padding: 10px;
	text-align: center;
}

.dim {
	color: #666666;
	font-size: 11px;
}