body{ font-size:12px; margin:0px; background-repeat:repeat-x; font-family:Arial;} /*background-image:url(../images/bg-geofences.jpg);*/
.link-all{ color:#1364B2; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:12px;font-weight:normal}
.link-all:hover{ color:#1364B2; text-decoration:underline;}
.link-all:active{ color:#1364B2; text-decoration:underlinee;}
.link-active{ color:#1364B2; text-decoration:none;font-weight:bold;}

.link-all1{ color:#1364B2; font-family:Arial, Helvetica, sans-serif; font-size:12px;font-weight:normal;text-decoration:underline;}
.link-all1:hover{ color:#1364B2;text-decoration:none;}
.link-all1:active{ color:#1364B2;text-decoration:none;}

.grayboldtext{ color:#666; font-family:Arial, Helvetica, sans-serif; font-size:12px;font-weight:bold;text-decoration:underline;}
.grayboldtext:hover{ color:#666;text-decoration:none;}


#link-grey{ color:#333333; font-size:11pt; font-weight:bold;}
#border-btm{border-bottom:1px solid #cccccc; height:23px;}
.border-btm{border-bottom:1px solid #cccccc; height:23px;}

/*.txt-box{ border:1px solid #cccccc; padding:2px 2px 2px 2px; color:#666666; width:350px;}*/
.txt-box{ width:350px;}
.txt-new{ width:215px;}
.txt-new-s2{ width:230px;}
.txt-box-s2{ width:355px;}
/*.txt-box-s2{ border:1px solid #cccccc; padding:2px; color:#666666; width:355px;}*/
.txt-box-s{ border:1px solid #cccccc; padding:2px; color:#666666; width:75px;}
.btn-b{  border:1px solid #ABD5FE; padding:6px 7px 5px 6px; color:#666666; background-color:#E5F1F4;}
.btn-s{  border:1px solid #FFCC99; padding:6px 7px 5px 6px; color:#666666; background-color:#FFE5F2;}
/*******************************8header************/
.header {width:960px; clear:both;height:90px;line-height:normal; }

.header div{height:30px; text-align:center; width:960px;}
#width100-left{width:90px;float:left; clear:left; line-height:28px;background-color:#003366; margin-left:2px; margin0right:2px;}
#width100-left:hover{width:90px;float:left; clear:left; line-height:28px;background-color:#f8f8f8;color:#1364b2;}
#width100-left a{width:90px;line-height:30px;height:30px;width:100px;text-align:center;font-weight:normal; color:#ffffff;padding:6px; text-decoration:none;}
#width100-left a:hover{width:90px;line-height:30px;height:30px;width:100px;text-align:center;font-weight:normal; color:#c2c7cb; text-decoration:none;}
#width100-none{width:90px;float:left; clear:none; line-height:30px;background-color:#003366; margin-left:2px; margin0right:2px;}
#width100-none:hover{width:90px;float:left; clear:none; line-height:28px;background-color:#f8f8f8; color:#c2c7cb}
#width100-none a{width:100px;line-height:30px;height:30px;width:100px;text-align:center;font-weight:normal; color:#ffffff;padding:6px; text-decoration:none;}

.top-btn{background-color:#003366;line-height:30px;height:30px;width:98px;text-align:center;font-weight:normal; color:#ffffff; text-decoration:none; border:0;}
.top-btn:hover{background-color:#f8f8f8;line-height:30px;height:30px;width:98px;text-align:center;font-weight:normal; color:#1364b2; text-decoration:none; border:0;font-weight:bold;}


#width100-none a:hover{line-height:30px;height:32px;width:100px;text-align:center;font-weight:normal; color:#c2c7cb; text-decoration:none;}
/************header ends***********/
/******************container starts*******************************************************/
.container{width:100%; clear:both;}
/*.container div{ text-align:left; width:960px;}*/

.container div ul li{ display:inline; background-color:#FFFFFF; }
#width38t{width:27.30%; padding-left:5px; text-align:center}
#width30t{width:99%; padding-left:1%;}
#width38t2{width:35.668%;padding-left:5px; text-align:center}
#width40t{width:36.94%; }
#width7t{width:15.286%;  text-align:center}
#width10t{width:2.0833%; padding-left:0px;}
#width695t{width:714px;padding-left:5px;background-color:#f5fae1; margin-top:4px;}
#width10{width:width:2.0833%; padding-bottom:4px;padding-top:4px; }
#width710{width:710px;padding-bottom:4px;padding-left:5px;padding-top:4px; }
#width38{width:270px; padding-top:4px; padding-bottom:4px;padding-left:5px;}
#width40-1{width:27.30%;padding-left:.40%;text-align:left }
#width30-all{width:22.916%; padding-top:4px; padding-bottom:4px;}

#width40-blue-bdr{width:99.5%; padding-top:0px; padding-bottom:0px;border:1px solid #1364b2;}
#width30-blue-in{width:99.0%; padding:4px .25% 4px .8%;background-color:#cccccc; line-height:19px;color:#003366;}
#width30-grey-in{width:99.0%;  padding:4px .25% 4px .8%; background-color:#f8f8f8; line-height:19px;}
#width30-in{width:99%;padding:6px .25% 7px .8%;}

#width30-blue{width:100%px; background-color:#cccccc; line-height:19px; color:#003366; padding:10px}
#width30-grey{width:100%;  padding:4px .25% 4px .3%; background-color:#f8f8f8; line-height:19px;}
#width30-bdr{width:99.5%; padding:6px .25% 4px .30%;border-bottom:1px solid #cccccc;}
#gray-bar1{width:97.5%; padding:6px .25% 5px .30%;background-color:#eeeeee; margin-top:1px}
#gray-bar2{width:98.5%; padding:6px .25% 5px .30%;background-color:#ffffff;}
#width40-2{width:35.668%;padding-left:.40%;text-align:left }
#width7{width:15.286%;text-align:left }
.width30-bdr{width:100%; padding:6px 0px 4px 0px;border-bottom:1px solid #cccccc;}
.fl{float:left; clear:left;}
.f2{float:left; clear:left; font-size: 18px; color: #003366;}
.f3{ margin:15px 10px 10px;
font-size:18px;
margin-left:0px;
color:#003366;}
.fn{float:left; clear:none;}
#padding-t7{padding-top:7px;}
#padding-t{padding-top:4px;}
#padding-b{padding-bottom:4px;}
#margin-t-b{margin-top:10px; margin-bottom:5px;}
.bdr{ padding-left:7px; border:2px solid #ffffff;}
.width{line-height:25px;height:25px}
#row1{ background-color:#eeeeee;line-height:22px;}
#row2{ background-color:#ffffff;line-height:22px;}
#header-bg{ background-color:#6699cc;  color:#ffffff; font-weight:normal; font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif}
#width7tl{width:24.286%;  text-align:center}
#width7l{width:24.286%; text-align:left }
/************container ends***********/
/******************footer starts*******************************************************/
.footer{width:960px; clear:both;}
/************footer ends***********/


/* Pagination Class */

.ublip-pagination {font-size:13px; font-family: Arial;  float:right;text-align:right;padding-top:10px} /*changed from 9*/
.ublip-pagination A { PADDING-LEFT: 0.2em;  PADDING-BOTTOM: 0.1em; MARGIN-RIGHT: 0.1em; PADDING-TOP: 0.1em;  TEXT-DECORATION: none; color:#003399;}
.ublip-pagination A:hover {color:#003399; text-decoration:underline;}
.ublip-pagination SPAN.current { PADDING-RIGHT: 0.5em;   PADDING-LEFT: 0.5em;  PADDING-BOTTOM: 0.1em; MARGIN-RIGHT: 0.1em; PADDING-TOP: 0.1em;  FONT-WEIGHT: bold;  COLOR: #333;}*/
