body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #666666;
	background-color: #FFFFFF;
	background-image: url(/images/sky_blue_gradient_bg.png);
	background-repeat: repeat-x;
}

div#header {
	margin: 0 auto;
	width: 900px;
	margin-top: 30px;
	vertical-align: middle;
}

div#header #logo {
	float: left;
}

div#content {
	margin: 0 auto;
	width: 850px;
	clear: both;
}
/***** Login form *********/
.form_table th {
	font-size: 13px;
	text-align: right;
}

.form_table td {
	padding: 5px;
}

.form_table input {
	font-weight: bold;
	color: #006699;
}
/***** End login form ******/

/******** Login form styles ***********/
div#login_form_container {
	padding: 10px;
	border: 6px solid #336699;
	background-color: #DEE8F3;
}

div#login_form_container {
	line-height: 30px;
}
/********* End login form styles ********/
/*********** Error message div **********/
div#error_message {
	border: 2px solid #990000;
	color: #FFFFFF;
	background-color: #FF6262;
	font-size: 14px;
	font-weight: bold;
	margin: 10px;
	padding: 5px;
}
/*********** End error message div *******/