body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #333333;
	background-color: #FFFFFF;
	background-image: url(/images/header_bg.png);
	background-repeat: repeat-x;
}

div {
	margin: 0 auto;
}

div#header {
	width: 850px;
	margin-top: 30px;
	vertical-align: middle;
}

div#header #logo {
	float: left;
}

div#sub_banner {
	margin-top: 10px;
	height: 80px;
	border-top: 1px solid #A1B4D5;
	border-bottom: 1px solid #A1B4D5;
	background-color: #E8F1FF;
	text-align: center;
	padding-top: 10px;
	color: #333333;
}

input[type="text"], input[type="password"], select {
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	border-left: 1px solid #CCCCCC;
	padding: 3px;
}

.label {
	text-align: right;
	padding-right: 10px;
	font-size: 12px;
}

.short_text {
	width: 150px;
}

.long_text {
	width: 200px;
}

h4 {
	border-bottom: 1px solid #CCCCCC;
	margin: 20px 0 10px 0px;
}

.helper {
	font-size: 11px;
	font-weight: bold;
	color: #666666;
}

.description_box {
	font-size: 12px;
	margin-bottom: 15px;
	background-color: #EEEEEE;
	padding: 10px;
}

.error_select {
	border: 2px solid #EA9797;
}

.error_short {
	background-color: #F2C0C0;
	width: 150px;
}

.error_long {
	background-color: #F2C0C0;
	width: 200px;
}

.error_box {
	font-weight: bold;
	background-color: #F2C0C0;
	padding: 10px;
	margin-bottom: 10px;
}

a {
	color: #0066CC;
}

hr {
	height: 1px;
	border: none;
	border-bottom: 1px solid #EEEEEE;
}