<div id="content">
	<h1>Thank you for your order.</h1>
	
	We've sent an order confirmation to <strong><%= @email %></strong>.  We're currently processing your order and will send an email when it ships.
	In the meantime, if you have any questions please don't hesitate to contact us 
	at <a href="mailto:support@ublip.com">support@ublip.com</a>.
</div>