<% if flash[:message] %>
	<div id="success_message"><%= flash[:message] %></div>
<% end %>
	
<h3>Current Users (<%= @users.size %> total)</h3>
<div id="device_list">
	<ul>
	    <% for user in @users%>
	        <li style="padding: 5px;">
				<strong><%= user.first_name %> <%= user.last_name %></strong> (<%= user.email %>) - <a href="/users/edit/<%= user.id %>">edit</a><br />
				last logged in <%= time_ago_in_words user.last_login_dt %> ago
			</li>
	    <% end %>
	</ul>
</div>