<h3>Enfora Gateway Overview</h3>
  
<ul class="list">
	<li><%= @total_devices %> <strong>Enfora Devices</strong> - <a href="/enfora/device/list">view</a></li>
	<li><%= @total_requests %> <strong>Enfora Command Requests</strong> - <a href="/enfora/command_request/list">view</a></li>
</ul>