<h3>Create New Device Profile</h3>

<%= render :partial=>"/layouts/flash_message"%>    

<form method="post" class="form" action="/admin/device_profiles/create">
	<%= render :partial => "device_profile_form" %>
</form>

<script language="javascript" type="text/javascript">
	window.onload = function() {
		document.getElementById("name").focus();
	}
</script>
