<script>
  var frm_index=true;
</script>
<table class="panel_table" >
  <%= render :partial => 'device_summary_header',:locals =>{:column_span => 5,:sub_heading => nil} %>
  <tr>
    <th>Name</th>        
    <th>&nbsp;</th>
    <th>Last Location</th>
    <th>Last Status</th>
    <th>Last Report</th>
  </tr>    
  <%= render :partial => "group_rows",:locals => {:column_span => 5,:callback => "show_device"} %>
</table>

