<html>
	<head>
		<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAbHFSoZrdKa62e-ThmTsW-BTJQa0g3IQ9GZqIMmInSLzwtGDKaBTIRYNtvNCg7h-79JP242JXcEnLYg"
		      type="text/javascript"></script>
		<script>
			var device_id;
			var lat;
			var lng;
			var map;
			var gmap;
			var base_url = '/gateway/?device_id=';
			
			function init() {
				if (GBrowserIsCompatible()) {	
					gmap = new GMap2(document.getElementById("map"));
					gmap.addControl(new GLargeMapControl(), new GControlPosition(G_ANCHOR_TOP_RIGHT));
					gmap.setCenter(new GLatLng(33.4419, -96.1419), 3);
					
					GEvent.addListener(gmap, "click", function(marker,point) {
						gmap.addOverlay(new GMarker(point));
						lat = point.y;
						lng = point.x;
					});
				}
			}
			
			function insertData() {
				var url = base_url + device_id + '&lat=' + lat + '&lng=' + lng;
				
				GDownloadUrl(url, function(data, responseCode) {
					alert('done');
				});
			}
			
			window.onload = init;
			window.onunload = GUnload;
		</script>
		<style>
			#devices {
				float: left;
				margin-right: 10px;
			}
			
			#map {
				float: left;
				width: 600px;
				height: 400px;
			}
		</style>
	</head>
	<body>
		<div id="devices">
			<select onchange="device_id=this.options[selectedIndex].value;">
				<option>Please select a device</option>
				<% for device in @devices %>
					<option value="<%= device.id %>"><%= device.name %></option>
				<% end %>
			</select>
			<br /><br />
			<input type="submit" onclick="insertData();" value="insert location" />
		</div>
		<div id="map">
			
		</div>
		
	</body>
</html>