	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Ublip</title>
<meta name="viewport" content="width=240; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<link href="/stylesheets/mobile.css" rel="stylesheet" type="text/css" />

<!--
<script type="application/x-javascript" src="http://10.0.1.2:1840/ibug.js"></script>
-->
</head>

<body id="body">
<div class="toolbar"><img src="/images/logo.png" alt="" /></div>       
    <ul> 
 <%if  flash[:message]%>     
     <div id="error_message"><%= flash[:message]%></div>     
     <%end%>    
            <form action="/login" method="post" id="logform">
            <li>Username: <br/>                  
            <input type="text" id="username" name="email" class="input" value="<%= flash[:username] %>"/>
            </li>
            <li>Password:<br />            
            <input type="password" id="password" name="password" value="" class="input"/>
            <input type="hidden" value="mobile" name="frm_m" />
            </li>
            <li><input type="checkbox" id="remember_me" name="remember_me"/> Remember me</li>
            <li>
              <input type="submit" value="Sign in" />
           </form>    
            </li>       		
		<li>&copy; 2008 Ublip</li>        
    </ul>    
</body>
</html>
