<h3>Editing Device</h3>

<form method="post" class="form" action="/admin/devices/update">
	<%= render :partial => "device_form" %>
</form>

<script language="javascript" type="text/javascript">
	window.onload = function() {
		document.getElementById("device").focus();
	}
</script>