<div>
<a href="javascript: history.go(-1);">&laquo; Back</a>
</div>

<h3>Create New Device</h3>

<form method="post" class="form" action="/admin/devices/create">
	<%= render :partial => "device_form" %>
</form>

<script language="javascript" type="text/javascript">
	window.onload = function() {
		document.getElementById("name").focus();
	}
</script>

