<?xml version="1.0" encoding="UTF-8" ?> 
<Module>
  <ModulePrefs title="ublip tracker" height="400" width="400"/> 
  <Content type="url" href="https://<%= @subdomain %>.ublip.com/home/map/<%= params[:id]%>"/>
</Module>