<h3>Xirgo Gateway Overview</h3>
  
<ul class="list">
	<li><%= @total_devices %> <strong>Xirgo Devices</strong> - <a href="/xirgo/device/list">view</a></li>
	<li><%= @total_requests %> <strong>Xirgo Command Requests</strong> - <a href="/xirgo/command_request/list">view</a></li>
</ul>