<h3>Editing User</h3>

<%= render :partial=>"/layouts/flash_message" %>    

<form method="post" class="form" action="/admin/users/update" onsubmit="return ValidateForm(<%= @user.id %>);" >
	<%= render :partial => "user_form" %>
</form>

<script language="javascript" type="text/javascript">
	window.onload = function() {
		document.getElementById("first_name").focus();
	}
</script>
