<p><a href="/reports">&lt; back</a></p>
<table width="100%" border="1">
	<tr>
		<th>Time</th>
		<th>Location</th>
		<th>Stop Duration</th>
	</tr>
	<% for reading in @stops %>
		<tr>
			<td><%= reading.created_at %></td>
			<td><%= reading.latitude %><%= reading.longitude %></td>
			<td><%= reading.duration || "unknown" %></td>
		</tr>
	<% end %>
</table>