<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Ublip - Location Matters</title>
        <%= stylesheet_link_tag "app" %>
        <!-- Dev include
        <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAb5FIzoTRib2_GSmlbkQ7mBSSqky6nndM48J7LWYfi11THuhEtxRJbRLHbJNMAlJ5HI0ywIQWp934fQ" type="text/javascript"></script>
        -->
        
        <!-- Prod include -->
        <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAuuM51OQ5BjDaW1x4b-MN6RQdy8buJCn4UCOrVn-gOC82x0BwgBRfUA9c-fxzF43pSDpXTxs1j8Dfsw" type="text/javascript"></script>
        <script type="text/javascript">
            //<![CDATA[
                var gmap;
                var icon;
                
                function load() {
                  if (GBrowserIsCompatible()) {
                    gmap = new GMap2(document.getElementById("map"));
                    gmap.addControl(new GLargeMapControl());
                    gmap.addControl(new GMapTypeControl());
                    gmap.setCenter(new GLatLng(37.4419, -122.1419), 13);
                    getDevices();
                    resize();
                    
                    icon = new GIcon();
                    icon.image = "/images/ublip_marker.png";
                    icon.shadow = "/images/ublip_marker_shadow.png";
				    icon.iconSize = new GSize(23, 36);
				    icon.iconAnchor = new GPoint(15, 25);
				    icon.infoWindowAnchor = new GPoint(15, 0);
                  }
                }

                window.onresize = resize;
                
                function resize() {
                    var myWidth, myHeight;
                    if( typeof( window.innerWidth ) == 'number' ) {
                        //Non-IE
                        myWidth = window.innerWidth;
                        myHeight = window.innerHeight;
                    } else if( document.documentElement && ( document.documentElement.clientWidth || document.documentElement.clientHeight ) ) {
                        //IE 6+ in 'standards compliant mode'
                        myWidth = document.documentElement.clientWidth;
                        myHeight = document.documentElement.clientHeight;
                    } else if( document.body && ( document.body.clientWidth || document.body.clientHeight ) ) {
                        //IE 4 compatible
                        myWidth = document.body.clientWidth;
                        myHeight = document.body.clientHeight;
                    }
                    
                    var hoffset = 75+50;
                    var main = document.getElementById("main_container");
                    var map = document.getElementById("map");
                    
                    main.style.height = (myHeight-hoffset) + 'px';
                    map.style.height = (myHeight-hoffset-20) + 'px';
                    map.style.width = (myWidth-230) + 'px'; 
                    
                    gmap.checkResize();
                }
                
                function getDevices() {
                    var bounds = gmap.getBounds();
                    GDownloadUrl("/readings/recent", function(data, responseCode) {
                        var xml = GXml.parse(data);
                        var lats = xml.documentElement.getElementsByTagName("lat");
                        var lngs = xml.documentElement.getElementsByTagName("lng");
                        for(var i = 0; i < lats.length; i++) {
			             var point = new GLatLng(lats[i].firstChild.nodeValue, lngs[i].firstChild.nodeValue);
			             gmap.addOverlay(new GMarker(point, icon));
			             
			             bounds.extend(point)
			             
			             if(i == 0)
			                 gmap.setCenter(point, 13);
			            }
			            
			            gmap.setZoom(gmap.getBoundsZoomLevel(bounds));
			            
                    });
                }
           //]]>
        </script>
	</head>
	<body onload="load();">
    	   <div id="header">
    	       <table width="100%" cellpadding="0" cellspacing="0">
    	           <tr><td><img src="/images/delete/header_left.gif" /></td><td align="right"><img src="/images/delete/header_right.gif" /></td></tr>
    	       </table>
    	   </div>
    	   
    	   <div id="content">
        	   <%= yield %>
           </div>
	</body>
</html>
