<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Ublip - Location Matters</title>
        <%= stylesheet_link_tag "app" %>
        <% if request.server_name.index("ubliplocal.com") %>
            <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAb5FIzoTRib2_GSmlbkQ7mBSSqky6nndM48J7LWYfi11THuhEtxRJbRLHbJNMAlJ5HI0ywIQWp934fQ" type="text/javascript"></script>
        <% else %>
            <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAuuM51OQ5BjDaW1x4b-MN6RQdy8buJCn4UCOrVn-gOC82x0BwgBRfUA9c-fxzF43pSDpXTxs1j8Dfsw" type="text/javascript"></script>
        <% end %>
        <%= javascript_include_tag "main" %>
	</head>
	<body onload="load();">
    	   <div id="header">
    	       <table width="100%" cellpadding="0" cellspacing="0">
    	           <tr><td><img src="/images/delete/header_left.gif" usemap="#Map2" border="0"/></td><td align="right"><img src="/images/delete/header_right.gif" usemap="#Map" border="0" /></td></tr>
    	       </table>
    	   </div>
    	   
    	   <div>
        	   <%= yield %>
           </div>
    <map name="Map"><area shape="rect" coords="168,4,217,25" href="/logout">
        <area shape="rect" coords="133,51,221,74" href="/devices">
    </map>
    <map name="Map2"><area shape="rect" coords="27,50,104,79" href="/home"></map>
	</body>
</html>
