<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title><%= @page_title %></title>
    <%= stylesheet_link_tag "common", "gotrack" %>
    
   <%= render :partial => 'layouts/includes/map_key' %>
   
   <%= javascript_include_tag "geofence" %>
   <%= javascript_include_tag :defaults %>   
  </head>
  
  <body <% if params[:action] != "index" %>onload="load();"<% end %>>
    <%= render :partial => 'layouts/includes/header' %>
          
    <div id="submenu">
      <div style="float: left">
        <a href="/devices" >Devices</a>&nbsp; | &nbsp;<a href="/geofence" class="current">Geofences</a>&nbsp; | &nbsp;<a href="/devices/groups" >Groups</a>
      </div>
      
      <div style="float: right">
        <a href="<%= new_url%>" title="Create new geofence">Add New Geofence</a>
      </div>
      
      <div style="clear: right"></div>
    </div>
    
    <div id="content">
      <%= yield %>
    </div>
		   
    <%= render :partial => 'layouts/includes/footer' %>
  </body>
</html>
