<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title><%= @page_title %></title>        
    <%= stylesheet_link_tag "common", "gotrack" %>        
    <%= render :partial => 'layouts/includes/map_key' %>
    <%= javascript_include_tag "main", "layers", "utils", "labeled_marker" %>
    <%= javascript_include_tag :defaults%>
  </head>
  
  <script>        
    <%if session[:group_value]%>
      var grp_id = '<%=session[:group_value] %>';                  
    <%end%>    
  </script>      
          
  <body onload="load();">
    <%= render :partial => 'layouts/includes/header' %>
  
    <% if current_account.show_statistics or current_account.show_maintenance %>
      <div id="submenu" style="background-color:white;padding-bottom:0px;">
        <% if params[:action] == 'index' %><a href="<%= url_for(:controller=>"home") %>" class="current" >Locations</a><% else %><a href="<%= url_for(:controller=>"home")%>">Locations</a><% end %>  
        <% if current_account.show_statistics %> | <% if params[:action] == 'statistics' %><a href="<%= url_for(:controller=>"home",:action=>"statistics") %>" class="current" >Statistics</a><% else %><a href="<%= url_for(:controller=>"home",:action=>"statistics")%>">Statistics</a><% end %><% end %>
        <% if current_account.show_maintenance %> | <% if params[:action] == 'maintenance' %><a href="<%= url_for(:controller=>"home",:action=>"maintenance") %>" class="current" >Maintenance</a><% else %><a href="<%= url_for(:controller=>"home",:action=>"maintenance")%>">Maintenance</a><% end %><% end %>
      </div>
    <% end %>
  
    <div id="content">
      <table  width="100%">                                        
		<tr>        
          <td valign="top" width="100%" id="right_panel">                                                   
            <table class="panel_table">
              <tr>
                <td class="header" >                                         
				  	<table style="float:left;">
				  		<tr>
				  			<td style="padding:0px;border:0px;">Locations for:</td>
							<td style="padding:0px;border:0px;">
							    <select id="group_type" class="device_summery_select" name="group_type" onchange="<%= decide_action %>;"> 
							      <option id=""  value="new">New fleet</option>
							      <option id=""  value="edit">Edit fleets</option>
							      <option id="" disabled="disabled"> - - - - - - - - - - - - - - -  </option>
							      <option value="all" <%if session[:group_value] == 'all' and not session[:home_device] %> selected class="bgcolor"<%end%>>  All Fleets  </option>            
							      <% for group in @all_groups %>
							        <option <%if session[:group_value].to_i == group.id and not session[:home_device] %> selected class="bgcolor"<%end%> value='<%= group.id%>'><%= group.name%> </option>
							      <% end %>            
							      <%if @default_devices.any? %>    
							        <option <%if session[:group_value] == 'default' %> selected class="bgcolor" <%end%> value='default'>Default</option>     
							      <%end%> 
							      <option id="" disabled="disabled"> - - - - - - - - - - - - - - -  </option>
								  <% for device in @all_devices %>
							        <option <%if session[:home_device].to_i == device.id %> selected class="bgcolor"<%end%> value='<%= -device.id %>'><%= device.name%> </option>
								  <% end %>
							    </select>            
							</td>
				  		</tr>
				  	</table>
                  <% if update_readings_automatically? %><div id="updating">Updating locations...</div><% end %>                                         
                </td>                                       
              </tr>
            
              <tr class="dark_row">
                <td valign="top"><div id="map"></div></td>
              </tr>                            
            </table>                                                       
          </td>
        </tr>                
        <tr>
          <td width="100%" valign="top" id="left_panel">
            <% if @device_count == 0 %>
              <div id="new">
                Your Ublip order is currently being processed.  When your vehicle has been activated it will appear in the summary table below.
                You'll then be able to rename the vehicle by going to the <a href="/devices" title="Manage your vehicle">Vehicles</a> tab.
                Feel free to add additional <a href="/users" title="Manage your users">users</a> or change your <a href="/settings" title="Manage your settings">settings</a>.
              </div>
            <% end %>						 
            <%= yield %>                            						 
          </td>                    
		</tr>
      </table>    
    </div>
  
    <% if update_readings_automatically? %>
      <script>   
       window.setInterval("updateLocations();", 30000);                    
       function updateLocations() 
         {   
           if (grp_id) 
            getRecentReadings(true,grp_id);                                                               
           else{                     
             getRecentReadings(false);                                                               
           }
         }
     </script>
    <% end %>                
  
    <%= render :partial => 'layouts/includes/footer' %>
  </body>     
</html>

