<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <%= stylesheet_link_tag "main" %>
        <%=javascript_include_tag :defaults%>
		<title>Ublip - Location Matters</title>
	</head>
	<body>
    	   <div id="header">
    	       <div id="logo">
    	           <a href="/"><img src="/images/ublip_logo.png" alt="Ublip - Location Matters" title="Ublip - Location Matters" border="0" /></a>
    	       </div>
    	   </div>
    	   
    	   <div id="content">
        	   <%= yield %>
           </div>
		   <%= render :partial => 'layouts/includes/footer' %>
	</body>
</html>
