<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Ublip - Location Matters</title>
        <%= stylesheet_link_tag "app", "font_styles" %>
        <%= render :partial => 'layouts/includes/map_key' %>
        <%= javascript_include_tag "widget_map", "layers" %>
	</head>
	<body onload="load();">
    	<div id="content">
        	<%= yield %>
        </div>
	</body>
</html>
