<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title><%= @page_title %></title>
        <%= stylesheet_link_tag "app", "font_styles" %>
		<%= render :partial => 'layouts/includes/map_key' %>
		<%= javascript_include_tag "main", "reports", "utils" %>
	</head>
	<% if params[:action] == 'index' %>
	<body>
	<% else %>
	<body onload="load();">
	<% end %>
   		<%= render :partial => 'layouts/includes/header' %>
		<div id="subnav">
			<% if params[:action] != 'index' %>
			<% if params[:action] == 'all' %><a href="/reports/all/<%= params[:id] %>?t=<%= params[:t] %>" class="link-active" >All Readings</a><% else %><a href="/reports/all/<%= params[:id] %>?t=<%= params[:t] %>" class="link-all1">All Readings</a><% end %><font color="gray">&nbsp;|&nbsp;</font> 
			<% if params[:action] == 'stop' %><a href="/reports/stop/<%= params[:id] %>?t=<%= params[:t] %>" class="link-active">Stop Events</a><% else %><a href="/reports/stop/<%= params[:id] %>?t=<%= params[:t] %>" class="link-all1">Stop Events</a><% end %><font color="gray">&nbsp;|&nbsp;</font> 
			<% if params[:action] == 'geofence' %><a href="/reports/geofence/<%= params[:id] %>?t=<%= params[:t] %>" class="link-active">Geofence Events</a><% else %><a href="/reports/geofence/<%= params[:id] %>?t=<%= params[:t] %>" class="link-all1">Geofence Events</a><% end %>
			<% end %>
		</div>
    	<div id="content">
        	<%= yield %>
        </div>
		<%= render :partial => 'layouts/includes/footer' %>
	</body>
</html>
