<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title><%= @page_title %></title>

        <%= stylesheet_link_tag "common" %>
		<%= render :partial => 'layouts/includes/map_key' %>
		<%= javascript_include_tag "main", "reports", "utils" %>
	</head>
	<% if params[:action] == 'index' %>
	<body>
	<% else %>
	<body onload="load();">
	<% end %>
   		<%= render :partial => 'layouts/includes/header' %>
		<div id="submenu">
			<% if params[:action] != 'index' %>
			<% if params[:action] == 'all' %><a href="<%= url_for(:controller=>"reports",:action=>"all", :id=>params[:id], :start_date=>@start_date, :end_date=>@end_date)%>" class="current" >All Readings</a><% else %><a href="<%= url_for(:controller=>"reports",:action=>"all", :id=>params[:id], :start_date=>@start_date, :end_date=>@end_date)%>">All Readings</a><% end %> |  
			<% if params[:action] == 'stop' %><a href="<%= url_for(:controller=>"reports",:action=>"stop", :id=>params[:id], :start_date=>@start_date, :end_date=>@end_date)%>" class="current">Stop Events</a><% else %><a href="<%= url_for(:controller=>"reports",:action=>"stop", :id=>params[:id], :start_date=>@start_date, :end_date=>@end_date)%>">Stop Events</a><% end %> | 
			<% if current_account.show_idle %><% if params[:action] == 'idle' %><a href="<%= url_for(:controller=>"reports",:action=>"idle", :id=>params[:id], :start_date=>@start_date, :end_date=>@end_date)%>" class="current">Idle Events</a><% else %><a href="<%= url_for(:controller=>"reports",:action=>"idle", :id=>params[:id], :start_date=>@start_date, :end_date=>@end_date)%>">Idle Events</a><% end %> | <% end %>
			<% if current_account.show_runtime %><% if params[:action] == 'runtime' %><a href="<%= url_for(:controller=>"reports",:action=>"runtime", :id=>params[:id], :start_date=>@start_date, :end_date=>@end_date)%>" class="current">Runtime Events</a><% else %><a href="<%= url_for(:controller=>"reports",:action=>"runtime", :id=>params[:id], :start_date=>@start_date, :end_date=>@end_date)%>">Runtime Events</a><% end %> | <% end %>
			<% if params[:action] == 'geofence' %><a href="<%= url_for(:controller=>"reports",:action=>"geofence", :id=>params[:id], :start_date=>@start_date, :end_date=>@end_date)%>" class="current">Geofence Events</a><% else %><a href="<%= url_for(:controller=>"reports",:action=>"geofence", :id=>params[:id], :start_date=>@start_date, :end_date=>@end_date)%>">Geofence Events</a><% end %>
			<% end %>
		</div>
    	<div id="content">
        	<%= yield %>
        </div>
		<%= render :partial => 'layouts/includes/footer' %>
	</body>
</html>
