<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title><%= @page_title %></title>

        <%= stylesheet_link_tag "common" %>
		<%= render :partial => 'layouts/includes/map_key' %>          
		<%= javascript_include_tag "main", "reports", "utils" %>
          <%= javascript_include_tag :defaults%>
	</head>
	<body onload="load();">
   		<%= render :partial => 'layouts/includes/header' %>
		<div align="right" style="padding-right:15px; padding-top:5px;">
                <%if !@record_count.nil?%>
                    <%if !(@record_count <= 0) %>
				    <b><%= display_result_count(params[:page].to_i,@actual_record_count,ResultCount)%></b>
                    <%end%>			
				&nbsp;&nbsp;
				<% if @record_count > 0 %>
					<a href="/reports/export/<%=params[:id]%>?end_date=<%= @end_date %>&start_date=<%= @start_date%>&type=<%=params[:action] %>" target="_blank" title="Export  <%= @record_count%> readings for selected timeframe in CSV format">Export</a>
					<% if params[:action] == 'all' %>
					| <a href="/readings/last/<%= params[:id] %>" target="_blank"><img src="/images/georss.png" border="0" title="Export this device's most recent location into your favorite RSS or GeoRSS reader" style="vertical-align: text-bottom;" /></a>
					<% end %>
				<% end %>            
                <%end%> 
		</div>
    	<div id="content">
        	<%= yield %>
        </div>

		<%= render :partial => 'layouts/includes/footer' %>
	</body>
</html>
