<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Ublip - Location Matters</title>
        <%= stylesheet_link_tag "app", "font_styles" %>
	</head>
	<body>
   		<%= render :partial => 'layouts/includes/header' %>
		<div id="subnav">
			<a href="/users/new" title="Add a new user">New User</a>
		</div>
    	<div id="content">
        	<%= yield %>
        </div>
		<%= render :partial => 'layouts/includes/footer' %>
	</body>
</html>
