<h3>Current Users (<%= @users.size %> total)</h3>

<%= render :partial=>"/layouts/flash_message" %>    

	<ul class="list">
	    <% for user in @users%>
	        <li>
				<strong><%= user.first_name %> <%= user.last_name %></strong> (<%= user.email %>) - <a href="/users/edit/<%= user.id %>">edit</a><br />
				<% if user.last_login_dt.nil? %>never logged in<% else %>logged in <%= time_ago_in_words user.last_login_dt %> ago<% end %>
			</li>
	    <% end %>
	</ul>
